# Maven
target/
*.jar
*.war

# IDE
.idea/
*.iml
.vscode/
.settings/
.project
.classpath

# OS
.DS_Store
Thumbs.db

# Angular
ecommerce-frontend/node_modules/
ecommerce-frontend/dist/
ecommerce-frontend/.angular/

# Kiro
.kiro/

# Logs
*.log
